// Global fonts

@font-face {
    font-family: "Oswald";
    src: url(./assets/fonts/oswald-regular.ttf);
}

@font-face {
    font-family: "Oswald Light";
    src: url(./assets/fonts/oswald-light.ttf);
}

@font-face {
    font-family: "Oswald Bold";
    src: url(./assets/fonts/oswald-bold.ttf);
}

// Next globals